@import './solar-css/lib/index';
@import './solar-stellarterm/lib/index';

@import './solar-css/styles/index';
@import './solar-stellarterm/styles/index';

// @import 'node_modules/react-select/dist/react-select.min';

html {
  min-width: 1052px;
  background: #fff;
}
body {
  //background: linear-gradient(0deg,#ced0ff,#c0ecff); //#1b65d5
  background:linear-gradient(to bottom right, #1b65d5 70%, transparent 70.1%);
  color: $s-color-neutral3;
  font-size: $s-scale-4;
  min-width: 1052px;
}
#app {
  position: relative;
  min-height: 100vh;
}

.img--noSelect {
  user-select: none;
}

.clickToSelect {
  border-bottom: 1px dotted currentColor;
  cursor: pointer;
}

ul.privacy__ul {
  li {
    list-style-position: inside;
  }
}

.AppStretch {
  min-height: 100vh;
}
.AppContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
//重写button
.s-button{
  background: #eb6460;
  border: 1px solid #c80600;

}
.s-button:hover {
  border: 1px solid #eb6460;
  background: #eb6460;
}
.banner__logo{
  display: flex;
  margin-top: 30px;
  margin-right: 30%;
  float: right;
  min-height: 300px;
  min-width: 300px;
  max-height: 330px;
  max-width: 330px;
  background-image: url("https://github.com/abigonion/linstellarterm/blob/car/images/ban.png?raw=true");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
@import 'island';
@import 'lightenZeros';
@import 'Ellipsis';

@import 'Header';
@import 'subNav';
@import 'HomePage';
@import 'row';
@import 'Footer';

@import 'Generic';
@import 'Loading';

@import 'Exchange';
@import 'OfferTables';
  @import 'OfferTable';
@import 'PriceChart';

@import 'OfferMakers';
  @import 'OfferMaker';

@import 'ManageOffers';


@import 'Markets';
@import 'PairPicker';

@import 'AssetCard'; // Deprecated
@import 'AssetCard2';

@import 'AssetPair';

@import 'AssetPickerNarrow';
@import 'CustomMarketPicker';

@import 'AssetList';

@import 'DateCard';

@import 'GlobalModal';
@import 'TransactionSummary';

@import 'LoginPage';
@import 'Session';
@import 'AccountView';
@import 'HistoryView';
@import 'MinBalance';
@import 'BalancesTable';
@import 'HistoryTable';
@import 'ManageCurrentTrust';
@import 'Send';
@import 'Inflation';
@import 'AddTrust';
@import 'AddTrustRow';
@import 'Deposit';
@import 'OpenUp';
